body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100vw;
    height: 100vh;
    overflow-y: auto; /* Enable vertical scrolling if needed */
    box-sizing: border-box;
    text-align: center;
    margin-top: 30px;
    max-width: 800px; /* Adjust the maximum width as needed */
    margin: 0 auto;   /* Center the container */
    justify-content: space-between;
    align-items: center;
}

h2 {
    color: #3498db;
}

section {
    margin-top: 20px;
    padding: 20px;
    background-color: #ecf0f1;
    border-radius: 8px;
}

h3 {
    color: #3498db;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #2ecc71;
    color: #fff;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #27ae60;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

label {
    color: #555;
    font-weight: bold;
}

input,
button {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Responsive styling */
@media (max-width: 600px) {
    .container {
        width: 90%;
    }
}
