<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment Success</title>
    <link rel="stylesheet" href="../static/css/sucess.css"><link>
</head>
<body>
    <div class="container">
        <h2>Appointment Request Successful!</h2>
        <p>Your appointment request has been submitted successfully.</p>
        <p>Click <a href="/logout">here</a> to sign out.</p>
    </div>
</body>
</html>
